exportPattern("^[[:alpha:]]+")
importFrom("pso","psoptim")
importFrom("genalg",'rbga','rbga.bin')
importFrom("ABCoptim","abc_optim")
importFrom("DEoptim","DEoptim","DEoptim.control")
importFrom("tabuSearch","tabuSearch")
importFrom("copulaedas","CEDA","edaRun","edaTerminateMaxGen","edaTerminate")
importFrom("methods","setMethod")
export("rmoptim")
